<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/student/update/{{ student.id }}" method="post">
    <p>Name</p>
    <br>
    <input type="text" name="student_name" value="{{ student.name }}">
    <p>Date of birth</p>
    <br>
    <input type="date" name="student_date_of_birth" value="{{ student.dateOfBirth }}">
    <p>Address</p>
    <br>
    <input type="text" name="student_address" value="{{ student.address }}">
    <input type="submit" value="update"/>
</form>
</body>
</html>
